.DecrementBidSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 34vh;
  height: 50vh;
  background-color: #101010;
  border-top: 1px solid #444444;
}

.DecrementBidSection__Label {
  color: white;
  text-align: center;
  font-size: 6vh;
  margin-top: 1vh;
}

.DecrementBidSection__Button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: darkblue;
  width: 30vh;
  height: 30vh;
  border-radius: 30vh;
  text-align: center;
  line-height: 30vh;
  font-size: 24vh;
  margin: 0 2vh 0 2vh;
}

.DecrementBidSection__Button__Minus {
  display: inline-block;
  position: relative;
  transform: translate(-7vh, -10vh);
}

.DecrementBidSection__Button__Minus::after {
    content: "";
    position: absolute;
    width: 15vh;
    height: 3vh;
    background-color:#ccc;
}
