.Table {
  background-color: #444444;
  height: 50vh;
}

.Hand {
  background-color: #222222;
  height: 50vh;
}

.PlayerLabel {
  display: inline-block;
  width: 30vh;
  text-align: center;
  margin: 0 2vh 0 2vh;
  font-size: 6vh;
  color: #ddd;
}

.Card {
  display: inline-block;
  color: white;
  width: 30vh;
  height: 30vh;
  border-radius: 30vh;
  text-align: center;
  line-height: 30vh;
  font-size: 24vh;
  margin: 0 2vh 0 2vh;
}

.Table__NameList,
.Table__TrickList {
  padding: 2vh 0vh .5vh 0vh;
}

.Hand__CardList {
  padding: 10vh 0 10vh 0;
}

.Card--fire {
  background-color: darkorange;
}

.Card--water {
  background-color: #08b;
}

.Card--earth {
  background-color: black;
  color: #eee;
}

.Card--air {
  background-color: white;
  color: #444444;
}

.Card--magic {
  background-color: purple;
  box-shadow: 0 0 10vh 1vh magenta;
}
