.CardTable {
  background-color: #444444;
  height: 50vh;
}

.Hand {
  background-color: #222222;
  height: 50vh;
}

.PlayerLabel {
  display: inline-block;
  width: 30vh;
  text-align: center;
  margin: 0 2vh 0 2vh;
  font-size: 6vh;
  color: #ddd;
  position: relative;
}

.Card {
  display: inline-block;
  color: white;
  width: 30vh;
  height: 30vh;
  border-radius: 30vh;
  text-align: center;
  line-height: 30vh;
  font-size: 24vh;
  margin: 0 2vh 0 2vh;
}

.CardTable__NameList,
.CardTable__TrickList {
  padding: 2vh 0vh .5vh 0vh;
}

.Hand__CardList {
  padding: 10vh 0 10vh 0;
}

.WinningPlayerIndicator {
  width: 2vh;
  height: 2vh;
  border-radius: 2vh;
  background-color: green;
  display: inline-block;
  margin: 0 1vh 1vh 0;
  position: absolute;
  top: 2.5vh;
  left: 5vh;
}

.Card--fire {
  background-color: darkorange;
}

.Card--water {
  background-color: #08b;
}

.Card--earth {
  background-color: black;
  color: #eee;
}

.Card--air {
  background-color: white;
  color: #444444;
}

.Card--magic {
  background-color: black;
  --blur: 3vh;
  --spread: -2vh;
  --inblur: 10vh;
  --inspread: -2vh;
  --inoffset: 4vh;
  box-shadow: -2vh -2vh var(--blur) var(--spread) darkorange,
    2vh -2vh var(--blur) var(--spread) #08b,
    2vh 2vh var(--blur) var(--spread) white,
    -2vh 2vh var(--blur) var(--spread) black,
    inset var(--inoffset) var(--inoffset) var(--inblur) var(--inspread) darkorange,
    inset calc(var(--inoffset) * -1) var(--inoffset) var(--inblur) var(--inspread) #08b,
    inset calc(var(--inoffset) * -1) calc(var(--inoffset) * -1) var(--inblur) var(--inspread) white,
    inset var(--inoffset) calc(var(--inoffset) * -1) var(--inblur) var(--inspread) black;
}

.Card--trump {
  box-shadow: 0 0 10vh 1vh #8888ff;
}

.Card--magic.Card--winning {
  background-color: black;
  --blur: 3vh;
  --spread: -2vh;
  --inblur: 10vh;
  --inspread: -2vh;
  --inoffset: 4vh;
  box-shadow: -2vh -2vh var(--blur) var(--spread) darkorange,
    2vh -2vh var(--blur) var(--spread) #08b,
    2vh 2vh var(--blur) var(--spread) white,
    -2vh 2vh var(--blur) var(--spread) black,
    inset var(--inoffset) var(--inoffset) var(--inblur) var(--inspread) darkorange,
    inset calc(var(--inoffset) * -1) var(--inoffset) var(--inblur) var(--inspread) #08b,
    inset calc(var(--inoffset) * -1) calc(var(--inoffset) * -1) var(--inblur) var(--inspread) white,
    inset var(--inoffset) calc(var(--inoffset) * -1) var(--inblur) var(--inspread) black,
    0 0 10vh 1vh gold;
}

.Card--confirmation {
  background-color: green;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0 0 10vh 1vh green;
  }
}

.CheckIcon {
  display: inline-block;
  position: relative;
  transform: translate(-5vh, -10vh) rotate(45deg);
}

.CheckIcon::before {
    content: "";
    position: absolute;
    width:3vh;
    height:15vh;
    background-color:#ccc;
    top: -12vh;
    left: 5vh;
}

.CheckIcon::after {
    content: "";
    position: absolute;
    width: 5vh;
    height: 3vh;
    background-color:#ccc;
}
